{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>
<img src="https://drive.google.com/thumbnail?id=1V0-Q6vGvO6zPdmQZ3kQ_aQsyJZG3-LVI" alt="" style="width:100%; height:auto;" />

<h3>Mari belajar transformasi geometri dengan Scratch!</h3>

<p>
	Kalian akan mempelajari tentang aplikasi Scratch dan membuat program transformasi geometri pada Scratch.
</p>


{{ partial "footer.html" . }}
